@page
@model Esame.Pages.Connection.DeleteConnectionModel
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="sidebar w3-light-grey w3-bar-block" style="width:20%; overflow:auto">

    </video><h3 class="w3-bar-item" style="text-align:center; ">  <b>Connessioni attive</b></h3>
    @if (ViewData["PostgresTable"] != null)
    {
        var dt = ViewData["PostgresTable"] as System.Data.DataTable;

        foreach (System.Data.DataRow dr in dt.Rows)
        {
            <h4>@dr[1]</h4>

            <span class="arrow_carrot-down"></span>
            <ul class="dropdown">
                @foreach (var item in @dr[2] as IList<string>)
                {
                    <a class="w3-bar-item w3-button" style="color:blue" asp-page="/Connection/PostgresTableDetails" asp-route-name="@item" asp-route-id="@dr[0]">
                    <li>@item</li> </a>
                    
                   
                }
            </ul>
        }
    }

    @if (ViewData["SqliteTable"] != null)
    {
        var dt2 = ViewData["SqliteTable"] as System.Data.DataTable;

        foreach (System.Data.DataRow dr in dt2.Rows)
        {
            <h4>@dr[1]</h4>

            <span class="arrow_carrot-down"></span>
            <ul class="dropdown">
                @foreach (var item in @dr[2] as IList<string>)
                {
                    <a class="w3-bar-item w3-button" style="color:blue" asp-page="/Connection/SqliteTableDetails" asp-route-name="@item" asp-route-id="@dr[0]">
                    <li> @item</li>
                    </a>

                }
            </ul>
        }
    }
</div>


<div class="text-center" style="margin-left:25%">
    <h2>Tabella Connessioni Attive Postgres</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].Host)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].Database)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].Password)
                </th>
                 
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PostgresTable)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Host)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Database)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                     <td>
                        <a asp-page="./DeletePostgres" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <h2>Tabella Connessioni Attive SQLite</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SqliteTable[0].Path)
                </th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SqliteTable)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Path)
                    </td>
                    <td>
                        <a asp-page="./DeleteSqlite" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>