@page
@model Esame.Pages.Connection.DeleteConnectionModel
@{
}

<div class="text-center">
    <h2>Postgres Active Connection Table</h2>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th style="width:50px; background-color:lightgrey">RowId</th>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].Host)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].Database)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostgresTable[0].Password)
                </th>
                <th style="width:150px">
                    Delete
                </th>         
            </tr>
        </thead>
        <tbody>
            @if (Model.PostgresTable != null)
            {
                var countPost = 0;
                @foreach (var item in Model.PostgresTable)
                {
                    countPost++;
                    <tr>
                        <td style="background-color:lightgrey">@countPost</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Host)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Database)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            <a asp-page="./DeletePostgres" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

                @if (countPost == 0)
                {
                    <tr>
                        <td style="background-color:lightgrey">0</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />
    <hr />
    <br />

    <h2>SQLite Active Connection Table</h2>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th style="width:50px; background-color:lightgrey">RowId</th>
                <th>
                    @Html.DisplayNameFor(model => model.SqliteTable[0].Path)
                </th>
                <th style="width:150px">Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SqliteTable != null)
            {
                var countLite = 0;
                @foreach (var item in Model.SqliteTable)
                {
                    countLite++;
                    <tr>
                        <td style="background-color:lightgrey">@countLite</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Path)
                        </td>
                        <td>
                            <a asp-page="./DeleteSqlite" asp-route-id="@item.Id">Delete</a>
                        </td>

                    </tr>
                }
                @if (countLite == 0)
                {
                    <tr>
                        <td style ="background-color:lightgrey">0</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>