@page
@model Esame.Pages.Connection.DeletePostgresModel
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="sidebar w3-light-grey w3-bar-block" style="width:20%; overflow:auto">
    <b></video><h3 class="w3-bar-item" style="text-align:center; ">Connessioni attive</h3></b>
    @if (ViewData["PostgresTable"] != null)
    {
        var dt = ViewData["PostgresTable"] as System.Data.DataTable;

        foreach (System.Data.DataRow dr in dt.Rows)
        {
            <h4>@dr[1]</h4>

            <span class="arrow_carrot-down"></span>
            <ul class="dropdown">
                @foreach (var item in @dr[2] as IList<string>)
                {
                    <a class="w3-bar-item w3-button" style="color:blue" asp-page="/Connection/PostgresTableDetails" asp-route-name="@item" asp-route-id="@dr[0]">
                    <li>@item</li></a>
                }
            </ul>
        }
    }

    @if (ViewData["SqliteTable"] != null)
    {
        var dt2 = ViewData["SqliteTable"] as System.Data.DataTable;

        foreach (System.Data.DataRow dr in dt2.Rows)
        {
            <h4>@dr[1]</h4>

            <span class="arrow_carrot-down"></span>
            <ul class="dropdown">
                @foreach (var item in @dr[2] as IList<string>)
                {
                    <a class="w3-bar-item w3-button" style="color:blue" asp-page="/Connection/SqliteTableDetails" asp-route-name="@item" asp-route-id="@dr[0]">
                    <li> @item</li>
                    </a>

                }
            </ul>
        }
    }
</div>



<h1>Elimina</h1>

<h3>Sei sicuro di volere eliminare questa connessione?</h3>
<div>
    <h4>Connessione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Host)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Host)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Database)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Database)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.UserId)
        </dt>
         <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.UserId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Password)
        </dd>
        
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Input.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./DeleteConnection">Ritorna alla pagina precedente</a>
    </form>
</div>

