@page
@model Esame.Pages.Connection.PostgresTableDetailsModel
@{
}

<div>
    <table>
        <tr>
            @if (ViewData["PostgresTable"] != null)
            {
                var dt = ViewData["PostgresTable"] as System.Data.DataTable;

                foreach (System.Data.DataRow dr in dt.Rows)
                {
                    <th>@dr[0] @dr[1] (@dr[2], @dr[3])</th>
                }

            }
        </tr>

        @if (ViewData["Dati"] != null)
        {
            var dt2 = ViewData["Dati"] as System.Data.DataTable;

            foreach (System.Data.DataRow myRow in dt2.Rows)
            {
                <tr>
                    @for (var i = 0; i < Model.contatore; i++)
                    {

                        <td>
                            @myRow[i]
                        </td>
                    }
                </tr>

            }
        }


    </table>
</div>
