@page
@model Esame.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="sidebar">

    <h3 class="cell">Connessioni attive Postgres</h3>

    @if (ViewData["PostgresTable"] != null)
    {
        var dt = ViewData["PostgresTable"] as System.Data.DataTable;

        foreach (System.Data.DataRow dr in dt.Rows)
        {
            @dr[1]<span class="arrow_carrot-down"></span>
            <ul class="dropdown">
                @foreach (var item in @dr[2] as IList<string>)
                {
                    <a asp-page="/Connection/PostgresTableDetails" asp-route-name="@item" asp-route-id="@dr[0]"> <li>@item</li></a>
                }
            </ul>
        }
    }
    <div class="line-2"></div>
    <div class="line-1"></div>
    <div class="line-2"></div>
   
    <h3 class="cell">Connessioni attive SQLite</h3>
    
    @if (ViewData["SqliteTable"] != null)
    {
        var dt = ViewData["SqliteTable"] as System.Data.DataTable;

        foreach (System.Data.DataRow dr in dt.Rows)
        {
            @dr[1]<span class="arrow_carrot-down"></span>       
            <ul class="dropdown">
                @foreach (var item in @dr[2] as IList<string>)
                {
                    <a asp-page="/Connection/SqliteTableDetails" asp-route-name="@item" asp-route-id="@dr[0]">
                    <li> @item</li>
                    </a>
                    
                }
            </ul>
        }
    }
</div>
